[submodule "themes/newsroom"]
	path = themes/newsroom
	url = https://github.com/onweru/newsroom.git
[submodule "csv"]
	path = csv
	url = git@github.com:toyoake-contest/data.git
	#url = https://github.com/toyoake-contest/data.git
