{{ define "main" }}
    <div class="wrap mt-2 pt-2">
      <div>
        <p class="post_date pale">{{ dateFormat .Site.Params.dateFormat .Date }}</p>
        <h1 class="post_title">{{ .Title }}</h1>
        <div class="post_body">
          <div class="post_inner">
          {{ with .Params.image }}
            <img src="{{ absURL (printf "images/%s" .) }}" alt="{{ . }}" class="post_thumbnail">
          {{ end }}
          {{ .Content }}
<!--
          <div class ="post_extra mb-2">
            {{ partial "share" . }}
          </div>
          <div>
{{ template "_internal/disqus.html" . }}
          </div>
-->
          </div>
        </div>
      </div>
    <div>

  <div class="contest-nav">
{{ if .Prev }}
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="nav_item">&laquo;&nbsp;{{ .LinkTitle }}</a>
{{ else }}
    <span class="pale">{{ i18n "no_older_posts" }}</span>
  {{ end }}
{{ end }}

{{ if .Next }}
  {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="nav_item">{{ .LinkTitle }}&nbsp;&raquo;</a>
  {{ end }}
{{ else }}
    <span class="pale">{{ i18n "no_newer_posts" }}</span>
  {{ end }}
  </div>
  <!--
  <a href="{{ $.Site.BaseURL }}" class="post_nav"><span class="post_next">{{ i18n "go_to_top" }}</span>T</a>
  -->
{{ end }}
